[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

[Ll]ogs/

[Pp]ackageCache/

UserSettings/

MemoryCaptures/

*.csproj

*.unityproj

*.sln

*.user

*.userprefs

*.pidb

*.booproj

*.svd

*.local

*.pdb

*.opendb

*.VC.db
